.table-view {
    -fx-table-cell-border-color: lightgray;
}

.table-row-cell:selected {
    -fx-background-color: teal;
    -fx-table-cell-border-color: lightgray;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.annotated {
    -fx-background-color: cornsilk;
}

.not-annotated {
    -fx-background-color: bisque;
}

.table-row-cell:empty {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-table-cell-border-color: transparent;
}

#authorLabel {
    -fx-font: normal 12pt 'sans-serif';
}

#nameLabel {
    -fx-font: bold 14pt 'sans-serif';
}

#publisherLabel {
    -fx-font: 8pt 'sans-serif';
    -fx-text-fill: darkgrey;
}

#titleLabel {
    -fx-font: bold 12pt 'sans-serif';
}