<!DOCTYPE html>
<html lang="en" ng-app="bookshelf.app">
<head>
    <meta charset="UTF-8" />
    <title>Bookshelf</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/img/logo.png" />
</head>
<body ng-controller="BookController">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">BookShelf</a>
        </div>
        <div>
            {% if firstRun %}
            <form id="userForm" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="User" ng-model="user">
                    <input type="password" class="form-control" placeholder="Password" ng-model="pass">
                    <button type="submit" class="btn btn-default" ng-click="register(user, pass)">Create user</button>
                </div>
            </form>
            {% endif %}
            <form id="searchForm" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search" ng-model="request">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" ng-click="find(request)"><i class="glyphicon glyphicon-search"></i> Search</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <span ng-if="data_not_found" ng-bind="data_not_found"></span>
    <table ng-if="data" class="table table-condensed table-striped">
        <tr>
            <th>Автор</th>
            <th>Название</th>
            <th>Год выпуска</th>
        </tr>
        <tr ng-repeat="i in data track by $index">
            <td ng-bind="i.author"></td>
            <td ng-bind="i.name"></td>
            <td ng-bind="i.year"></td>
        </tr>
    </table>
</div>

<script src="/static/js/angular.min.js"></script>
<script src="/static/js/script.js"></script>

</body>
</html>